@import "~assets/scss/variables";

.cart {
  display: flex;
  justify-content: space-between;

  &__left-block {
    flex: 1 0 0;
    padding-right: 35px;
    position: relative;
  }

  &__right-block {
    flex: 0 0 340px;
  }

  .clean-button {
    position: absolute;
    right: 30px;
    top: -78px;
  }

  &-item {
    margin-bottom: 20px;
  }

  &__total {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 40px;

    span {
      font-size: 16px;
      color: $light-gray;
      margin-right: 8px;
    }
  }

  &__order {
    &-title {
      margin-bottom: 15px;
      font-size: 18px;
      font-weight: bold;
      line-height: 145%;
    }

    &-data {
      font-size: 16px;
      color: $light-gray;

      &.bottom-line {
        margin-bottom: 15px;
        padding-bottom: 10px;
        border-bottom: solid 1px rgba($white, 0.2);
      }
    }

    &-item {
      margin-bottom: 10px;
    }

    &-subtotal {
      font-size: 20px;
      line-height: 145%;
      margin-bottom: 20px;

      span {
        margin-right: 30px;
        color: $light-gray;
      }
    }
  }

  .panel {
    margin-bottom: 24px;
  }
}