@import "~assets/scss/variables";
@import "~assets/scss/mixins/font";

.tabs {
  .nav {
    display: flex;
    margin: 0;
    padding: 0;
    border-bottom: solid 1px $dark-blue-third;
    margin-bottom: 54px;

    @include tablet {
      margin-bottom: a(54px);
    }

    @include mobile {
      border-bottom: none;
      padding-bottom: 3px;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    li {
      position: relative;
      margin-right: 60px;
      margin-bottom: -4px;
      padding-bottom: 12px;
      overflow: hidden;
      list-style-type: none;
      cursor: pointer;
      user-select: none;
      color: $light-gray;
      font-weight: 400;

      @include tablet {
        margin-right: a(60px);
        margin-bottom: a(-4px);
        padding-bottom: a(12px);
      }

      @include mobile {
        padding: 9px 17px;
        border: 1px solid $dark-blue-third;
        border-radius: 40px;
        white-space: nowrap;
        margin-right: 7px;
        overflow: initial;

        @include font16();
      }

      &.active {
        color: $white;
      }

      &.active:after {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 4px;
        bottom: -0;
        border-radius: 0 0 3px 3px;
        background-color: $green;
        box-shadow: 0 3px 15px 0 rgba($green, 0.8);

        @include mobile {
          display: none;
        }
      }
    }
  }
}
