@import "~assets/scss/variables";

.reset-password {
  background: url("~assets/img/list3.png") 230px top no-repeat;

  &__button-group {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  &__forgot-link {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    a {
      color: $light-gray;
    }
  }
}

.main {
  min-height: calc(100vh - 144px);
  padding-top: 171px;
}

.container {
  margin-left: 300px;
  max-width: calc(50% - 300px);
}

.form-block {
  width: 360px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}