@import "~assets/scss/variables";

.paginate {
  display: flex;
  justify-content: space-between;

  &__list {
    display: flex;
    padding: 0;
    margin: 0;
  }


  li {
    list-style-type: none;
  };

  &__item-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-right: 8px;
    border-radius: 8px;
    box-shadow: inset 0 5px 15px rgba($white, .15), 0 10px 25px rgba($shadow, .35);
    font-size: 14px;
    color: $white;
    user-select: none;

    &.active {
      background: $green-gradient;
      box-shadow: inset 0 5px 15px rgba($white, .50), 0 10px 25px rgba($shadow, .35);
    }

    &:hover {
      color: $white;
    }
  }

  &__count {
    display: flex;
    align-items: center;
    &-title {
      margin-right: 10px;
    }

    &-select {
      width: 60px;
      height: 30px;
      padding: 0 5px;
      margin-right: 8px;
      border-radius: 8px;
      border: none;
      background: $dark-blue-primary;
      box-shadow: inset 0 5px 15px rgba($white, .15), 0 10px 25px rgba(#0F0F17, .35);
      color: $white;
      text-align: center;
      font-size: 16px;  
      cursor: pointer;
    }
  }
  
}


@media only screen and (max-width:$laptop){
	.paginate {

		&__item-link {
			width: a(30px);
			height: a(30px);
			margin-right: a(8px);
			border-radius: a(8px);
			font-size: a(16px);

		}

		&__count {
			&-title {
				margin-right: a(10px);
			}

			&-select {
				width: 50px;
				height: a(30px);
				padding: 0 a(5px);
				margin-right: a(8px);
				border-radius: a(8px);
				font-size: a(16px);  
			}
		}
		
	}
}