@import "~assets/scss/variables";

.wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.back_button {
  min-width: 26px;
  height: 26px;
  display: none;
  border: 0.5px solid #a8a0a0;
  border-radius: 50%;
  cursor: pointer;

  @include mobile {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  svg {
    fill: white;
    margin-right: 2px;
    margin-top: 1px;
  }
}
