@import "~assets/scss/variables";

.contact-info {
	padding: 40px 32px;
	margin-bottom: 32px;
	border-radius: 21px;
	background: linear-gradient(to bottom right, transparent, #292935 100%);
	box-shadow: inset -5px 10px 29px 3px rgba($white, 0.1);

	&__str {
		font-size: 16px;
		font-weight: 500;
		color: $white;
		margin-bottom: 20px;
		display: flex;
		align-items: center;

		&:before {
			content: '';
			width: 24px;
			height: 24px;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			display: inline-block;
			margin-right: 16px;
		}

		&:last-child {
			margin-bottom: 0;
		}

		&:hover {
			color: $white;
		}


		&.phone:before {
			background-image: url(icon/phone.svg);
		}

		&.web:before {
			background-image: url(icon/web.svg);
		}

		&.location:before {
			background-image: url(icon/location.svg);
		}
	}
}

@media only screen and (max-width: $laptop) {
	.contact-info {
		border-radius: a(21px);
		padding: a(40px) a(32px);
	}
}