@import "~assets/scss/variables";

.company-settings {
  $p: &;

  &__row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__wrapper {
    max-width: 765px;
  }

  .overall-design {
    position: relative;
    overflow: hidden;
    padding: 40px;
    border: 1px solid rgba($white, 0.25);
    box-shadow: 0px 10px 25px rgba(15, 15, 23, 0.63);
    border-radius: 19px;
    background-color: $dark-gray;
    background-image: url(../icons/leaf.svg);
    background-repeat: no-repeat;
    background-position: 110% 43px;

  }

  &__user-photo {
    flex: 0 0 332px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 332px;
    padding: 40px;
    text-align: center;
    background-image: none;


    &__img {
      width: 192px;
      height: 192px;
      border-radius: 100%;
      overflow: hidden;
      margin: 30px auto 16px;
      cursor: pointer;

      img {
        width: 100%;
      }

      input[type="file"] {
        display: none;
      }
    }

    &__name {
      font-size: 25px;
      font-weight: 700;
      text-align: center;
    }
  }

  &__user-data {
    flex: 0 0 calc(100% - 362px);
    max-width: calc(100% - 362px);
    padding: 49px 40px;

    &__wrapper {
      max-width: 370px;
      text-align: right;
    }

    &__formfield {
      background-color: $dark-gray;
      margin-bottom: 20px;
    }
  }

  &__default-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 192px;
    height: 192px;
    border: dashed 1px $light-gray;
    border-radius: 50%;
    background: rgba($light-gray, 0.26);
  }

  &__add-avatar {
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 192px;
    height: 192px;
    border-radius: 50%;
    background: rgba($light-gray, 0.26);
    color: $light-gray;

    svg {
      margin-right: 5px;
    }
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
    position: relative;

    .col6 {
      position: relative;
      width: 100%;
      min-height: 1px;
      padding-right: 10px;
      padding-left: 10px;

      flex: 0 0 50%;
      max-width: 50%;
    }
  }

  &__user-photo__img:hover {
    #{$p}__add-avatar {
      display: flex;
    }

    #{$p}__default-avatar {
      opacity: 0.3;
    }

    img {
      opacity: 0.3;
    }
  }

  .rigth {
    text-align: right;
  }
}