@import "~assets/scss/variables";


.overall-design {
  position: relative;
  overflow: hidden;
  padding: 40px;
  border: 1px solid rgba($white, 0.25);
  box-shadow: 0px 10px 25px rgba(15, 15, 23, 0.63);
  border-radius: 19px;
  background-color: $dark-gray;
  background-image: url(../icons/leaf.svg);
  background-repeat: no-repeat;
  background-position: 110% 43px;

  // .formfield {
  //   background-color: $dark-gray;
  //   margin-bottom: 20px;
  // }
}

.billing-settings {



  &-small {
    font-size: 14px;
    color: $light-gray;
  }

}

.payment-methods {
  margin-top: 50px;

  &__title {
    margin-bottom: 10px;
  }

}

.c-card {
  display: flex;
  align-items: center;
  border: solid 1px rgba($white, .2);
  border-radius: 10px;
  margin-bottom: 15px;


  &__icon svg {
    width: 80px;
    height: 80px;
  }

  &__exp {
    font-size: 14px;
    color: $light-gray;
  }

  &__brand {
    display: flex;
    align-items: center;
  }

  &__default {
    margin-left: 10px;
    font-size: 14px;
    color: $light-gray;
  }
}