@import "~assets/scss/variables";
@import "~assets/scss/mixins/font";

.wrapper {
  display: flex;
  gap: 20px;
  align-items: center;
}

.content {
  gap: 10px;
  .name {
    color: $white;
    @include font16();
  }

  .message {
    color: #606060;
    @include font16();
  }
}