@import "~assets/scss/variables";

.plans {
	$p: &;

	&__wrapper {
		display: flex;
		justify-content: center;
		margin-bottom: 20px;
	}

	&__switch {

		&-billed {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-bottom: 40px;
		}

		&-label {
			position: relative;
			margin-right: 10px;
			margin-left: 10px;
		}

		&-saving {
			position: absolute;
			right: -100px;
			top: 0;
			padding: 2px 4px;
			border-radius: 3px;
			font-size: 16px;
			background: $red;
		}
	}

	&__bottom {
		text-align: center;
	}
}