@import "~assets/scss/variables";
@import "~assets/scss/mixins/font";

.wrapper {
  display: flex;
  align-items: flex-start;

  &.mine {
    justify-content: flex-end;
  }
}

.container {
  position: relative;
  background: linear-gradient(96.68deg, $dark-blue-primary 0%, #292935 100%);
  box-shadow: inset -5px -5px 16px rgba(138, 138, 138, 0.09);
  margin-bottom: 10px;
  border-radius: 0px 20px 20px 20px;
  width: 350px;
  padding: 13px 20px;

  &.mine {
    border-radius: 20px 0px 20px 20px;
  }
}

.content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
}

.name {
  @include font18();

  color: $white;
}

.message {
  @include font18();

  color: #606060;
  overflow-wrap: break-word;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 16px;
}

.date {
  top: 13px;
  right: 20px;
  position: absolute;
  color: $light-gray;
  @include font16();
}
