@import "~assets/scss/variables";

.clean-button {
  border: none;
  background: transparent;
  color: $white;
  font-size: 16px;
  font-weight: 500;
  background-repeat: no-repeat;
  background-position: left center;
  display: flex;
  align-items: center;

  svg {
    margin-right: 10px;
    stroke: $white;
  }

  &.red {
    color: $red;
  }
}

@media only screen and (max-width: $laptop) {
  .clean-button {
    font-size: a(16px);

    svg {
      margin-right: a(10px);
      transform: scale($scale);
    }
  }
}
