@import "~assets/scss/variables";

.media-item {
  width: 85px;
  height: 85px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;
  margin-right: 10px;
  cursor: move;

  img {
    width: 100%;
    height: 100%;
  }

}

.button-delete {
  width: 20px;
  height: 20px;
  position: absolute;
  background: none;
  top: 3px;
  right: 2px;
  z-index: 5;
  display: block;
  border: none;

  &:before,
  &:after {
    content: '';
    width: 10px;
    height: 1.5px;
    background: $white;
    display: inline-block;
    position: absolute;
    top: 8px;
    left: 4px;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}