@import "~assets/scss/variables";
@import "~assets/scss/mixins/font";

.checkbox {

	label {
		min-height: 24px;
		min-width: 24px;
		padding-left: 35px;
		color: $light-gray;
		position: relative;
		display: inline-block;
		cursor: pointer;
		user-select: none;

		@include font16(1.4);

		&:before {
			content: '';
			width: 24px;
			height: 24px;
			display: inline-block;
			border: 1px solid rgba($white, 0.5);
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			border-radius: 8px;
			position: absolute;
			left: 0;
			top: 0;
		}
	}

	input {
		display: none;

		&:checked {
			~label {
				&:before {
					background-color: $green;
					box-shadow: inset 0px 1px 5px 3px rgba($white, .4);
					border: none;
				}

				&:after {
					content: '';
					width: 11px;
					height: 7px;
					border-top: 3px solid $white;
					border-right: 3px solid $white;
					display: inline-block;
					position: absolute;
					top: 30%;
					left: 7px;
					transform: rotate(135deg)
				}
			}
		}
	}
}


@media only screen and (max-width:$laptop) {
	.checkbox {

		label {
			min-height: a(24px);
			min-width: a(24px);
			font-size: a(18px);
			padding-left: a(35px);

			&:before {
				width: a(24px);
				height: a(24px);
				border-radius: a(8px);
			}
		}

		input {
			&:checked {
				~label {
					&:after {
						width: a(11px);
						height: a(7px);
						border-width: a(3px);
						left: a(7px);
					}
				}
			}
		}
	}
}