@import "~assets/scss/variables";

.panel2 {
  position: relative;
  overflow: hidden;
  padding: 40px;
  border: 1px solid rgba($white, 0.25);
  box-shadow: 0px 10px 25px rgba($shadow, 0.63);
  border-radius: 19px;
  background-color: $dark-gray;
  background-image: url(leaf.svg);
  background-repeat: no-repeat;
  background-position: right -85px top 43px;
}