@import "../../assets/scss/variables";

.quantity-change {
  $p: &;
  display: flex;
  width: 143px;

  input {
    width: 50px;
    height: 32px;
    margin: 0 10px;
    border: solid 1px;
    border-color: $dark-blue-fourth;
    border-radius: 7px;
    background: inherit;
    color: $light-gray;
    text-align: center;
  }

  button {
    width: 32px;
    height: 32px;
    padding-top: 0;
    border: none;
    border-radius: 7px;
    box-shadow: $black-shadow;
    background-size: 13px;

    svg {
      width: 13px;
    }

    &:disabled {
      opacity: 0.5;
    }
  }

  &__plus {
    background: url(~assets/img/icons/Plus.svg) no-repeat center;
  }

  &__minus {
    background: url(~assets/img/icons/Minus.svg) no-repeat center;
  }
}