@import "~assets/scss/variables";

.tr {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	padding: 8px 0;
	border-bottom: 1px solid rgba($white, 0.2);

	a {
		color: $light-gray;
	}

	&:hover {
		.td {
			background: $dark-blue-fourth;
			color: $white;
		}

		a {
			color: $white;
			text-decoration: underline;
		}
	}
}

.th {
	font-weight: 500;
	&:first-child {
		padding-left: 8px;
	}
}

.td {
	&:first-child {
		padding: 0 8px 0 8px;
		border-radius: 12px 0 0 12px;
	}

	&:last-child {
		border-radius: 0 12px 12px 0;
	}

}

.td,
.th {
	padding-top: 12px;
	padding-bottom: 12px;
	display: flex;
	height: 48px;
	align-items: center;

}

.th.sortable {
	cursor: pointer;
}