@import "~assets/scss/variables";

.rangeslider {
  $p: &;
  width: 300px;
  padding: 0 40px;
  position: relative;
  margin-left: 25px;

  &:before {
    content: '';
    display: block;
    position: absolute;
    transform: translateY(-16px);
    left: 0;
    top: 50%;
    height: 32px;
    width: 1px;
    border-left: solid 1px $dark-blue-fourth;
  }

  label {
    font-size: 16px;
    margin-bottom: 33px;
  }

  .rc-slider {
    position: relative;
    height: 14px;
    padding: 5px 0;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 6px;
    touch-action: none;

    [class$="-rail"] {
      background-color: $dark-blue-fourth;
    }

    [class$="-track-1"] {
      background-color: $green;
    }

    [class$="-handle-1"],
    [class$="-handle-2"] {
      width: 16px;
      height: 16px;
      margin-top: -6px;
      border: none;
      background: $green-gradient;
    }

    [class$="-handle-dragging"],
    [class$="-handle-click-focused"] {
      width: 16px;
      height: 16px;
      margin-top: -6px;
      border: none;
      background: $green-gradient;
      border: none;
      box-shadow: none !important;
    }

    [class$="-tooltip-inner"] {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px 2px;
      min-width: 51px;
      height: 26px;
      font-size: 14px;
      background-color: $dark-blue-fourth;
      border-radius: 3px;
      box-shadow: none;
    }

    [class$="-tooltip-arrow"] {
      bottom: 2px;
      margin-left: -6px;
      border-width: 6px 6px 0;
      border-top-color: $dark-blue-fourth;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
  }

  &__input {
    color: $light-gray;
    font-size: 14px;

    input {
      width: 55px;
      height: 20px;
      font-size: 14px;
      background: $dark-gray;
      border: 1px solid $dark-blue-fourth;
      border-radius: 3px;
      color: $white;
      text-align: center;
    }
  }

}

@media only screen and (max-width:$laptop) {
  .rangeslider {}
}