@import "~assets/scss/variables";

.navbar {
  $p: &;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0 0 0;

  &-expand {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  &:before {
    content: "";
    display: block;
    width: 208px;
    height: 215px;
    position: absolute;
    background: url(~assets/img/cannabg.png) no-repeat;
    background-size: cover;
    left: -30px;
    top: -30px;
  }

  &-content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 144px;
    width: 100%;
    border-bottom: solid 1px rgba($white, .2);
    margin: 0 40px;
  }

  &-user__dropdown {
    display: none;
    position: absolute;
    width: 100px;
    padding-top: 8px;

    ul {
      padding: 0;
      margin: 0;
      background: $dark-gray;
      border-radius: 0 0 10px 10px;

      li {
        list-style-type: none;
        padding: 3px 10px;
      }
    }
  }

  &-user__block {
    cursor: pointer;

    &:hover {
      #{$p}-user__dropdown {
        display: block;
      }
    }
  }

  &-user__icon {
    display: flex;
    align-items: center;

    img {
      width: 48px;
      height: 48px;
      border-radius: 50%;
    }

    &-dummy {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      background: $dark-blue-secondary;
    }

    &:before {
      content: "";
      display: block;
      width: 1px;
      height: 24px;
      border-left: solid 1px $dark-blue-third;
      margin-right: 20px;
    }

    &:after {
      content: "";
      display: block;
      width: 14px;
      height: 8px;
      margin-left: 16px;
      background: url(../../assets/img/icons/ArrowDown.svg) no-repeat;
      background-size: cover;
    }
  }



  &-menu {
    &__block {
      display: flex;
      align-items: center;
      margin-bottom: 0;
      margin-right: 15px;
    }

    &__item {
      list-style-type: none;
      position: relative;
      width: 48px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }

    &__cart-indicator {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 4px;
      right: 0;
      top: 0;
      min-width: 18px;
      height: 18px;
      border-radius: 9px;
      color: $dark-blue-primary;
      font-size: 13px;
      line-height: 13px;
      background: $green;
    }
  }
}

@media only screen and (max-width:$laptop) {
  .navbar {

    &:before {
      width: a(208px);
      height: a(215px);
      left: a(-30px);
      top: a(-30px);
    }

    &-content {
      height: a(144px);
      margin: 0 a(40px);
    }


    &-user_icon {

      img {
        width: a(48px);
        height: a(48px);
      }

      &-dummy {
        width: a(48px);
        height: a(48px);
      }

      &:before {
        height: a(24px);
        margin-right: a(20px);
      }

      &:after {
        width: a(14px);
        height: a(8px);
        margin-left: a(16px);
      }
    }

    &-menu__block {
      margin-right: a(15px);
    }

    &-menu__item {
      width: a(48px);
      height: a(48px);

      svg {
        transform: scale($scale)
      }
    }
  }
}