@use "sass:math";
$pi: 3.14159265359;
$_precision: 10;

@function pow($base, $exp) {
  $value: $base;

  @if $exp>1 {
    @for $i from 2 through $exp {
      $value: $value * $base;
    }
  }

  @if $exp < 1 {
    @for $i from 0 through -$exp {
      $value: math.div($value, $base);
    }
  }

  @return $value;
}

@function fact($num) {
  $fact: 1;

  @if $num>0 {
    @for $i from 1 through $num {
      $fact: $fact * $i;
    }
  }

  @return $fact;
}

@function _to_unitless_rad($angle) {
  @if unit($angle)=="deg" {
    $angle: math.div($angle, 180deg) * $pi;
  }

  @if unit($angle)=="rad" {
    $angle: math.div($angle, 1rad);
  }

  @return $angle;
}

@function sin($angle) {
  $a: _to_unitless_rad($angle);
  $sin: $a;

  @for $n from 1 through $_precision {
    $sin: $sin + math.div(pow(-1, $n), fact(2 * $n + 1)) * pow($a, (2 * $n + 1));
  }

  @return $sin;
}

@function cos($angle) {
  $a: _to_unitless_rad($angle);
  $cos: 1;

  @for $n from 1 through $_precision {
    $cos: $cos + math.div(pow(-1, $n), fact(2 * $n)) * pow($a, 2 * $n);
  }

  @return $cos;
}

@function tan($angle) {
  @return sin($angle) / cos($angle);
}

$side-length: 20px;
$side-width: 6px;
$side-color: #fff;
$loader-size: $side-length * 2.41421;

$anim-duration: 1.5s;
$anim-offset: 0;

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  min-height: 100px;
  z-index: 2;

  &.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
  }

  &__block {
    width: $loader-size;
    height: $loader-size;
    border-radius: 100%;
    animation-name: loader;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 4s;
  }

  &__side {
    display: block;
    width: $side-width;
    height: $side-length;
    background-color: $side-color;
    margin: 2px;
    position: absolute;
    border-radius: 50%;
    animation-duration: $anim-duration;
    animation-iteration-count: infinite;
    animation-timing-function: ease;

    &:nth-child(1),
    &:nth-child(5) {
      transform: rotate(0deg);
      animation-name: rotate0;
    }

    &:nth-child(3),
    &:nth-child(7) {
      transform: rotate(90deg);
      animation-name: rotate90;
    }

    &:nth-child(2),
    &:nth-child(6) {
      transform: rotate(45deg);
      animation-name: rotate45;
    }

    &:nth-child(4),
    &:nth-child(8) {
      transform: rotate(135deg);
      animation-name: rotate135;
    }
  }

  @for $count from 0 through 7 {
    &__side:nth-child(#{$count + 1}) {
      $side-offset: math.div($side-width, 2) * $count;
      $dotval: math.div($loader-size, 2);

      top: sin(45deg * $count) * $dotval+$dotval;
      left: cos(45deg * $count) * $dotval+$dotval;
      margin-left: math.div($side-width, -2);
      margin-top: math.div($side-length, -2);
      animation-delay: $anim-offset * $count;
    }
  }
}

// side keyframes
@keyframes rotate0 {
  0% {
    transform: rotate(0deg);
  }

  60% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(180deg);
  }
}

@keyframes rotate90 {
  0% {
    transform: rotate(90deg);
  }

  60% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(270deg);
  }
}

@keyframes rotate45 {
  0% {
    transform: rotate(45deg);
  }

  60% {
    transform: rotate(225deg);
  }

  100% {
    transform: rotate(225deg);
  }
}

@keyframes rotate135 {
  0% {
    transform: rotate(135deg);
  }

  60% {
    transform: rotate(315deg);
  }

  100% {
    transform: rotate(315deg);
  }
}

// loader keyframe
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

;