@import "~assets/scss/variables";

.marketplace-grid {
	$p: &;
	position: relative;
	border-radius: 21px;
	display: block;
	padding: 16px;
	width: 280px;
	margin-bottom: 24px;
	color: $light-gray;
	overflow: hidden;

	&__image {
		width: 248px;
		height: 248px;
		border-radius: 12px;
		overflow: hidden;
		margin-bottom: 24px;

		img {
			width: 100%;
		}
	}

	&__edit {
		align-items: center;
		justify-content: center;
		position: absolute;
		right: 0;
		top: 0;
		width: 35px;
		height: 35px;
		display: none;
		background: rgba(0,0,0, .5);
	}

	&__nophoto {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		//	border: 1px solid $light-gray;
		background: rgba($dark-blue-fourth, .2);
		border-radius: 10px;
		color: $light-gray;

		svg {
			margin-bottom: 8px;
		}
	}

	&__name {
		font-size: 18px;
		font-weight: 500;
		color: $light-gray;
		margin-top: 13px;
		margin-bottom: 15px;

		.small_text {
			font-size: 13px;
			color: $light-gray;
		}
	}

	&__characteristics {
		ul {
			margin: 0;
			padding: 0;
			margin-bottom: 18px;
			min-height: 65px;
			li {
				list-style-type: none;
				margin-bottom: 6px;
				font-size: 14px;
				color: $light-gray;
			}
		}
	}

	&__units {
		font-size: 18px;
		font-weight: 500;
		color: $white;
		text-align: right;
		background-image: url(assets/unit.svg);
		background-repeat: no-repeat;
		border-bottom: 1px solid rgba($white, 0.2);
		padding-bottom: 16px;
		margin-bottom: 13px;
	}

	&__bottom {
		display: flex;
		justify-content: space-between;
	}

	&__price {
		font-size: 18px;
		color: $white;
		display: flex;
		align-items: center;
		justify-content: space-between;

		span {
			color: $light-gray;
		}

		.old_price {
			display: block;
			position: relative;
			margin-right: 7px;
			font-size: 13px;

			&:before {
				position: absolute;
				content: '';
				display: block;
				width: 40px;
				height: 1px;
				right: 0;
				top: 7px;
				transform: rotate(-10deg);
				border-bottom: solid 1px $red;
			}
		}

	}

	&:hover {
		background-color: $dark-blue-fourth;

		#{$p}__card path {
			fill: $green;
		}

		#{$p}__edit {
			display: flex;
		}
	}
}