@import "~assets/scss/variables";

.category {
  @include mobile {
    padding: 0;
    background: none;
    border: none;
  }

  .item {
    font-size: 18px;
    line-height: 26px;
    color: $light-gray;

    .heading {
      margin-top: 5px;
    }

    .button {
      position: relative;
      padding: 20px 0;
      border-bottom: solid 1px $light-gray;
      cursor: pointer;

      &:after {
        content: "";
        display: block;
        position: absolute;
        right: 0;
        top: 30px;
        width: 16px;
        height: 8px;
        background: url("~assets/img/icons/ArrowDown.svg") no-repeat;
      }

      &[aria-expanded="true"] {
        padding-bottom: 27px;
        color: $white;
        border-color: $unactive-input;

        &:after {
          background: url("./ArrowDownWhite.svg") no-repeat;
          transform: rotate(180deg);
          transform-origin: center;
        }
      }
    }

    .panel {
      padding: 20px;
      animation: fadein 0.35s ease-in;
    }

    .arrow {
      background: none;
      border: none;
    }

    @keyframes fadein {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }
  }
}
