@import "~assets/scss/variables";

.signup {
  $p: &;
  position: relative;
  background: url("~assets/img/arrow.png") calc(100% - 74px) 112px no-repeat,
    url("~assets/img/list.png") calc(100% - 180px) 144px no-repeat,
    url("./img/list5.png") left calc(100% + 165px) no-repeat;

  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    pointer-events: none;

    &.bg1 {
      background: url("./img/list6.png") calc(50% - 1px) -121px no-repeat,
        url("./img/list7.png") calc(0% - 125px) 102px no-repeat,
        url("./img/list8.png") calc(100% + 175px) 100px no-repeat,
        url("./img/list9.png") 50% calc(100% + 102px) no-repeat;
    }

    &.bg2 {
      background: url("./img/list11.png") calc(50% - 1px) -151px no-repeat,
        url("./img/list10.png") calc(0% - 146px) 40px no-repeat,
        url("./img/list12.png") calc(100% + 125px) 220px no-repeat,
        url("./img/list13.png") 69% calc(100% + 128px) no-repeat;
    }

    &.bg3 {
      background: url("./img/list14.png") 12% -151px no-repeat, url("./img/list15.png") calc(0% - 209px) 50% no-repeat,
        url("./img/list16.png") calc(100% + 148px) 223px no-repeat,
        url("./img/list17.png") 69% calc(100% + 45px) no-repeat;
    }

    &.bg4 {
      background: url("./img/list18.png") 13% -37px no-repeat, url("./img/list19.png") calc(0% - 265px) 50% no-repeat,
        url("./img/list20.png") calc(100% + 93px) 50% no-repeat,
        url("./img/list21.png") 47% calc(100% + 175px) no-repeat;
    }
  }

  &__anim {
    .fade {
      &-enter {
        opacity: 0;
        z-index: 1;
      }

      &-enter-active {
        opacity: 1;
        z-index: 1;
      }

      &-exit {
        opacity: 1;
        z-index: 0;
      }

      &-exit-active {
        opacity: 0;
        z-index: 0;
      }

      &-enter-active,
      &-exit-active {
        transition: opacity 300ms, transform 300ms;
      }
    }
  }


  .main {
    display: flex;
    flex-direction: row;
    min-height: calc(100vh - 144px);
  }

  &__steps {
    width: 280px;
    padding-top: 200px;
    border-right: solid 1px rgba($white, 0.2);

    &-title {
      margin: 0 76px 66px auto;
      text-align: right;
      color: $light-gray;
    }
  }

  &__content {
    flex-grow: 1;
    padding-top: 144px;
    padding-left: 36px;
    position: relative;

    .form-block {
      width: 360px;
      margin-bottom: 50px;
    }
  }

  &__nav-right {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 200px;
    left: 512px;
    top: 473px;
    user-select: none;

    &.disabled {
      opacity: 0.5;
      pointer-events: none;
    }

    .back {
      margin-right: auto;
      color: $light-gray;
      font-size: 16px;
      cursor: pointer;
    }

    .next {
      display: flex;
      align-items: center;
      color: $white;
      font-size: 16px;
      cursor: pointer;

      &.disabled {
        opacity: 0.5;
      }
    }

    button {
      margin-left: 16px;
    }
  }

  &__field-group {
    display: flex;
    justify-content: space-between;

    .formfield {
      width: calc(50% - 12px);
    }

    &.stuck {
      div {
        width: 50%;
      }

      div:first-child {
        input {
          border-right: none;
          border-radius: 12px 0 0 12px;
        }

        &:after {
          content: "";
          display: block;
          position: absolute;
          right: 0;
          top: calc(50% - 8px);
          height: 16px;
          border-right: solid 1px $dark-blue-fourth;
        }
      }

      div:last-child {
        input {
          border-left: none;
          border-radius: 0 12px 12px 0;
        }
      }
    }
  }
}