@import "~assets/scss/variables";

.select-plan {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;

  &__later {
    font-size: 14px;
    color: $light-gray;
    margin: 10px 0 50px 0;
    cursor: pointer;
  }
}