@import "~assets/scss/variables";

.overall-design {
  position: relative;
  overflow: hidden;
  padding: 40px;
  border: 1px solid rgba($white, 0.25);
  box-shadow: 0px 10px 25px rgba(15, 15, 23, 0.63);
  border-radius: 19px;
  background-color: $dark-gray;
  background-image: url(../icons/leaf.svg);
  background-repeat: no-repeat;
  background-position: 110% 43px;

  // .formfield {
  //   background-color: $dark-gray;
  //   margin-bottom: 20px;
  // }
}



.api-settings {

  &__wrapper {
    max-width: 765px;
  }

  &__formfield {
    background-color: $dark-gray;
    margin-bottom: 20px;
  }
}