@import "~assets/scss/variables";

.avatar {
  position: relative;

  img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }

  .status {
    top: 0;
    right: 0;
    border-radius: 50%;
    width: 6px;
    height: 6px;
    position: absolute;
    background-color: $light-gray;

    &.online {
      background-color: $green;
    }
  }
}
