@import "~assets/scss/variables";

.page-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;

  &__right,
  &__left {
    display: flex;
    align-items: center;
  }

  &__right-update {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }


}