@import "~assets/scss/variables";

.table {
  $p: &;

  height: auto;
  margin-bottom: 50px;
  position: relative;
  font-size: 16px;
  font-weight: 500;
  color: $light-gray;
  border-collapse: collapse;
  display: block;
  padding-top: 18px;

  .tr {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 8px 0;
    border-bottom: 1px solid rgba($white, 0.2);

    .th {
      font-weight: 500;

      &.sortable {
        cursor: pointer;
      }

      &:first-child {
        padding-left: 8px;
      }

      .subtitle {
        position: absolute;
        font-size: 13px;
        top: 62px;
      }
    }

    .td,
    .th {
      padding-top: 12px;
      padding-bottom: 12px;
      display: flex;
      height: 48px;
      align-items: center;
    }

    .small_text {
      font-size: 12px;
      color: $light-gray;
    }

    &:hover {
      #{$p}__edit-button {
        display: block;
      }

      span.edit-price {
        text-decoration: underline;
      }

      .table-media__link {
        opacity: 1;
      }

    }
  }
}