@import "~assets/scss/variables";

.seller-one {
	&_wrap {
		display: flex;
		flex-wrap: wrap;
	}

	&_left {
		flex: 0 0 320px
	}

	&_center {
		flex: 1 0 0;
		padding: 0 40px;
	}

	&_link {
		display: block;
		margin-bottom: 12px;
	}

	&_top {
		font-size: 18px;
		color: $light-gray;
		margin-bottom: 27px;

		span {
			background: $dark-blue-fourth;
			border-radius: 20px;
			color: #000;
			text-transform: uppercase;
			font-size: 18px;
			color: $white;
			padding: 9px 16px;
			margin-right: 16px;
			display: inline-block;
		}
	}

	&_image {
		overflow: hidden;
		margin-bottom: 32px;

		img {
			width: 100%;
			border-radius: 21px;
		}
	}
 
	&_title {
		font-size: 40px;
		font-weight: 700;
		margin: 0;
	}

	&_subtitle {
		font-size: 18px;
		font-weight: 500;
		color: $light-gray;
		margin-bottom: 39px;
	}

	&_content {
		font-size: 18px;
		font-weight: 500;
		color: $light-gray;
	}

	&_right {
		flex: 0 0 266px
	}

	.contact-info {
		margin-bottom: 32px;
	}
}


/*--------------------featured-products---------------------------*/
.featured-products {
	display: flex;
	flex-wrap: wrap;
	padding-top: 50px;

	.price-info {
		margin-top: 25px;
		margin-bottom: 30px;
	}

	&__left {
		flex: 1 0 0;
	}

	&__right {
		flex: 0 0 265px;
		margin-left: 40px;
	}

	&__top {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin-bottom: 30px;

		span {
			font-size: 24px;
			font-weight: 600;
			margin-right: 40px;
		}
	}

	&__line {
		display: block;
		width: 100%;
		height: 1px;
		background: $dark-blue-fourth;
		position: relative;
		flex: 1 0 0;
	}

	.button-arrow {
		margin-left: 40px;
	}
}


/*-----------------------button-arrow---------------------------------*/
.button-arrow {
	width: 48px;
	height: 48px;
	border-radius: 100px;
	border: 1px solid $dark-blue-third;
	background-color: transparent;
	background-image: url(arrowTop.svg);
	background-repeat: no-repeat;
	background-position: center;
	transform: rotate(90deg)
}


/*--------------------------price-info-----------------------------*/
.price-info {
	div {
		font-size: 16px;
		font-weight: 500;
		color: $light-gray;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 14px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	span {
		color: $white;
		font-weight: 18;
	}
}