@import "~assets/scss/variables";

.invoice {
  $p: &;

  &__information {
    margin-bottom: 24px;
  }

  .form-block {
    width: 100%;
    max-width: 700px;
    margin-bottom: 50px;

    input {
      margin-bottom: 24px;
    }

    .button {
      max-width: 160px;
    }
  }


  &__title {
    font-size: 24px;
    font-weight: 600;
    display: flex;
    white-space: nowrap;

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background: rgba($white, .2);
      top: 17px;
      position: relative;
    }
  }

  &__title-block {
    margin-bottom: 45px;

    span {
      margin-right: 43px;
    }
  }

  &__top {
    margin-bottom: 40px;
  }

  &__upload-image {
    width: 500px;
    margin: auto;

    form {
      height: 300px;
      margin-bottom: 15px;
      border: 2px dashed $dark-blue-third;
      border-radius: 12px;
      position: relative;
      cursor: pointer;
      flex: 1 0 0;
    }

    input[type='file'] {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      z-index: 2;
      cursor: pointer;
    }
  }

  &__upload-text {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  &__upload-images {
    display: flex;
    flex-wrap: wrap;

    img {
      width: 90px;
      margin: 5px;
    }
  }

  &__upload-close {
    position: absolute;
    top: 16px;
    right: 16px;
    color: $white;
    border: none;
    background-color: transparent;
  }

}


@media only screen and (max-width:$laptop) {
  .invoices {
    .form-block {
      max-width: a(700px);
      margin-bottom: a(50px);

      input {
        margin-bottom: a(24px);
      }

      .button {
        max-width: a(160px);
      }
    }

    &__title {
      font-size: a(24px);

      &::after {
        top: a(17px);
      }
    }

    &__title-block {
      margin-bottom: a(45px);

      span {
        margin-right: a(43px);
      }
    }

    &__top {
      margin-bottom: a(40px);
    }

    &__upload-image {
      width: a(500px);

      form {
        height: a(300px);
        margin-bottom: a(15px);
      }
    }

    &__upload-images {

      img {
        width: a(90px);
        margin: a(5px);
      }
    }

    &__upload-close {
      top: a(16px);
      right: a(16px);
    }

    &__filter-wrapper {

      .formfield {
        margin-right: a(15px);
      }

      .selectfield {
        min-width: a(170px);
      }

      .reset {
        font-size: a(16px);
        margin: 0 a(20px);
      }

      .filter-count {
        font-size: a(16px);
      }


    }


  }
}