@import "~assets/scss/variables";

.wizard-form {
  .fade {
    &-enter {
      opacity: 0;
      z-index: 1;
    }

    &-enter-active {
      opacity: 1;
      z-index: 1;
    }

    &-exit {
      opacity: 1;
      z-index: 0;
    }

    &-exit-active {
      opacity: 0;
      z-index: 0;
    }

    &-enter-active,
    &-exit-active {
      transition: opacity 300ms, transform 300ms;
    }
  }


  .tab-content {
    position: absolute;
    width: 360px;

    &.metrc-api {
      width: 520px;
    }

    &__agreement {
      margin-top: 30px;
    }
  }

  .field-group {
    display: flex;
    justify-content: space-between;

    &>div {
      width: calc(50% - 12px);
    }

    &.stuck {
      div {
        width: 50%;
      }

      div:first-child {
        input {
          border-right: none;
          border-radius: 12px 0 0 12px;
        }

        &:after {
          content: "";
          display: block;
          position: absolute;
          right: 0;
          top: calc(50% - 8px);
          height: 16px;
          border-right: solid 1px $dark-blue-fourth;
        }
      }

      div:last-child {
        input {
          border-left: none;
          border-radius: 0 12px 12px 0;
        }
      }
    }
  }

  .metrc-block {
    &__title {
      font-size: 20px;
      margin-bottom: 15px;
    }

    &__description {
      margin-bottom: 30px;
      font-size: 14px;
      color: $light-gray;
    }
  }
}