@import "~assets/scss/variables";

span.edit-price {
  display: inline-block;
  width: 80px;
  margin-left: 5px;
  cursor: pointer;

  &.load {
    opacity: .5;
  }
}

input.edit-price {
  width: 80px;
  padding: 6px;
  margin-left: 8px;
  border: solid 1px;
  border-radius: 6px;
  background: $dark-blue-primary;
  border-color: $white;
  color: $white;
  cursor: auto;
}