@import "~assets/scss/variables";

.switch {
  $p: &;

  input {
    display: none;
  }

  label {
    display: block;
    width: 80px;
    height: 30px;
    border: solid 1px rgba($white, 0.2);
    border-radius: 15px;
    cursor: pointer;

    &:before {
      content: '';
      display: block;
      width: 28px;
      height: 28px;
      background: $green-gradient;
      border-radius: 50%;
      transition: all .2s ease-in-out;
    }
  }

  input:checked+label {
    &:before {
      margin-left: 50px;
    }
  }
}