*,
:after,
:before {
  box-sizing: border-box;
}

.link {
  color: $green;
  cursor: pointer;
}

input {
  font-family: inherit;
}

button {
  font-family: $main-font;
  font-size: 18px;
  cursor: pointer;
}

.subtitle {
  color: $light-gray;
  min-height: 22px;
}

.wrapper {
  align-items: stretch;
  display: flex;
  width: 100%;
}

.icon-wrapper-indicator {
  position: relative;

  .indicator {
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    left: 17px;
    border-radius: 50%;
    background: $green;
    box-shadow: 0 3px 6px $green;

    @media only screen and (max-width: $laptop) {
      width: a(6px);
      height: a(6px);
      left: a(17px);
    }
  }
}

.error {
  color: $red;
  font-size: 12px;
}

.formfield.error input,
.formfield.error select,
.filefield.error label {
  border-color: $red;
}

.block_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.block_right {
  display: flex;
  align-items: center;
}

.ReactModalPortal {
  .ril__image {
    max-width: 1250px;
  }
}

///grid
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
  position: relative;
}

.col6,
.col4,
.col3,
.col8 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

.col6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col4 {
  flex: 0 0 33.33%;
  max-width: 33.33%;
}

.col8 {
  flex: 0 0 66.66%;
  max-width: 66.66%;
}

.col3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.center {
  text-align: center;
}