@import "./mixins/media";

$white: #fff;
$dark-blue-primary: #171722;
$dark-blue-secondary: #22222d;
$dark-blue-third: #45454e;
$dark-blue-fourth: #30303d;
$dark-blue-fifth: #8b8b91;

$unactive-input: #353542;

$green: #84d52c;
$light-gray: #959595;
$dark-gray: #212129;

$shadow: #0f0f17;

$red: #ff6d59;
$error: $red;

$green-gradient: linear-gradient(125deg, #6cad2b, $green);

$black-shadow: inset 0 5px 15px rgba($white, 0.15),
  0 10px 25px rgba($shadow, 0.35);

$sidebar-width: 280px;

//font
$main-font: proxima-nova, sans-serif;

//laptop
$laptop: 1600px;
$tablet: 768px;
$scale: 0.7;

//function-laptop
@function a($num) {
  @return $num * $scale;
}
