@import "~assets/scss/variables";

.switching-view {
  margin-left: 40px;

  &__list,
  &__grid {
    width: 48px;
    height: 48px;
    border-radius: 12px;
    background-color: transparent;
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
    opacity: 0.5;
  }

  &__list.active,
  &__grid.active {
    background-color: $dark-blue-fourth;
    opacity: 1;
  }

  &__list {
    background-image: url(assets/row.svg);
  }

  &__grid {
    background-image: url(assets/grid.svg);
  }
}
