@import "~assets/scss/variables";




.license-settings {
  $p: &;

  &__row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__wrapper {
    max-width: 765px;
  }


  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
    position: relative;

    .col6 {
      position: relative;
      width: 100%;
      min-height: 1px;
      padding-right: 10px;
      padding-left: 10px;

      flex: 0 0 50%;
      max-width: 50%;
    }
  }

  .rigth {
    text-align: right;
  }

  &__formfield {
    background-color: $dark-gray;
    margin-bottom: 20px;
  }

  .input-file {
    margin-top: 10px;
    margin-bottom: 40px;

    input {
      display: none;
    }

    label {
      position: relative;
      display: block;
      cursor: pointer;
    }

    &__title {
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 20px;
    }

    &__text {
      font-size: 16px;
      font-weight: 400;
      color: $light-gray;
      display: flex;
      align-items: center;
      margin-left: 40px;
    }

    &__img {
      margin-right: 56px;
      position: relative;
    }

    &__name {
      width: 145px;
      position: absolute;
      text-align: center;
      left: 50%;
      transform: translate(-50%, 10px);
      max-height: 75px;
      overflow: hidden;
    }


  }


}

.overall-design {
  position: relative;
  overflow: hidden;
  padding: 40px;
  border: 1px solid rgba($white, 0.25);
  box-shadow: 0px 10px 25px rgba(15, 15, 23, 0.63);
  border-radius: 19px;
  background-color: $dark-gray;
  background-image: url(../icons/leaf.svg);
  background-repeat: no-repeat;
  background-position: 110% 43px;

  // .formfield {
  //   background-color: $dark-gray;
  //   margin-bottom: 20px;
  // }
}