@import "~assets/scss/variables";

.form-inventory {
	width: 800px;

	&__wrapper {
		width: 600px;
	}

	.formfield {
		margin-bottom: 24px;
		background-color: $dark-gray;
	}

	form {
		margin-bottom: 30px;
	}

	&__download {
		display: block;
		margin-bottom: 24px;
	}

	&__preview {
		max-width: 600px;
	}


	.formfield.upload {
		input[type=file] {
			display: none;
		}

		label {
			width: 200px;
			padding: 14px 50px;
			cursor: pointer;
		}
	}

	&__title {
		display: flex;
		justify-content: space-between;
		font-size: 20px;
		font-weight: 700;
		margin: 20px 0 30px 0;
	}

	&__package {
		margin: 30px 0;
		padding: 20px 0;
		border-top: solid 1px rgba($white, .2);
		border-bottom: solid 1px rgba($white, .2);
	}

	.input-file {
		margin-top: 10px;
		margin-bottom: 40px;

		input[type=file] {
			display: none;
		}
	}

	.input-file__title {
		font-size: 20px;
	}

	&__text {
		font-size: 16px;
		font-weight: 400;
		color: $light-gray;
		margin: 10px 0 30px;
	}

	.row .checkbox {
		margin-top: 10px;
	}

	.formfield.description {
		margin-bottom: 10px;
	}

	&__bottom {
		display: flex;
		justify-content: flex-end;
	}
}

@media only screen and (max-width:$laptop) {
	.form-inventory {
		width: a(660px);

		.formfield {
			margin-bottom: a(24px);
		}

		form {
			margin-bottom: a(30px);
		}

		&__download {
			margin-bottom: a(24px);
		}

		&__preview {
			max-width: a(600px);
		}


		.formfield.upload {


			label {
				width: a(200px);
				padding: a(14px) a(50px);
				cursor: pointer;
			}
		}

		&__title {
			font-size: a(20px);
			margin-bottom: a(30px);
		}

		.input-file__title {
			font-size: a(20px);
		}
	}
}



@media only screen and (max-width:$laptop) {
	.radio-inputs {
		margin: a(30px) 0;

		&__row {
			margin-top: a(20px);
		}

		&__title {
			font-size: a(20px);
		}

		&__item {
			margin-right: a(25px);
		}

		label {
			font-size: a(16px);
			padding-left: a(30px);

			&:before {
				width: a(15px);
				height: a(15px);
			}

			&:after {
				width: a(7px);
				height: a(7px);
				top: 5px;
				left: a(4px);
			}
		}
	}
}

/*radio-inputs*/