@import "../../assets/scss/variables";

.overall-design {
	position: relative;
	overflow: hidden;
	padding: 40px;
	border: 1px solid rgba($white, 0.25);
	box-shadow: 0px 10px 25px rgba(15, 15, 23, 0.63);
	border-radius: 19px;
	background-color: $dark-gray;
	background-image: url(icon/leaf.svg);
	background-repeat: no-repeat;
	background-position: 110% 43px;

	.formfield {
		background-color: $dark-gray;
		margin-bottom: 20px;
	}
}

.form-settings {
	$p: &;

	&__row {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__user-photo {
		flex: 0 0 332px;
		max-width: 332px;
		padding: 40px;
		text-align: center;
		background-image: none;


		.clean-button {
			margin: auto;
			padding-left: 0;
		}

		&__img {
			width: 192px;
			height: 192px;
			border-radius: 100%;
			overflow: hidden;
			margin: 30px auto 16px;
			cursor: pointer;

			img {
				width: 100%;
			}

			input[type="file"] {
				display: none;
			}
		}

		&__name {
			font-size: 25px;
			font-weight: 700;
			text-align: center;
		}
	}

	&__user-data {
		flex: 0 0 calc(100% - 362px);
		max-width: calc(100% - 362px);
		padding: 49px 40px;

		&__wrapper {
			max-width: 370px;
			text-align: right;

		}
	}

	&__billing {
		&-small {
			font-size: 14px;
			color: $light-gray;
		}
	}

	&__wrapper {
		max-width: 765px;

	}

	&__default-avatar {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 192px;
		height: 192px;
		border: dashed 1px $light-gray;
		border-radius: 50%;
		background: rgba($light-gray, 0.26);
	}

	&__add-avatar {
		display: none;
		position: absolute;
		justify-content: center;
		align-items: center;
		width: 192px;
		height: 192px;
		border-radius: 50%;
		background: rgba($light-gray, 0.26);
		color: $light-gray;

		svg {
			margin-right: 5px;
		}
	}

	&__user-photo__img:hover {
		#{$p}__add-avatar {
			display: flex;
		}

		#{$p}__default-avatar {
			opacity: 0.3;
		}

		img {
			opacity: 0.3;
		}
	}

	&__c-cards {
		margin-top: 50px;
	}

	&__title2 {
		margin-bottom: 10px;
	}

	.c-card {
		display: flex;
		align-items: center;
		border: solid 1px rgba($white, .2);
		border-radius: 10px;
		margin-bottom: 15px;


		&__icon svg {
			width: 80px;
			height: 80px;
		}

		&__exp {
			font-size: 14px;
			color: $light-gray;
		}

		&__brand {
			display: flex;
			align-items: center;
		}

		&__default {
			margin-left: 10px;
			font-size: 14px;
			color: $light-gray;
		}
	}


}



.input-file {
	margin-top: 10px;
	margin-bottom: 40px;

	input {
		display: none;
	}

	label {
		position: relative;
		display: block;
		cursor: pointer;
	}

	&__title {
		font-size: 18px;
		font-weight: 700;
		margin-bottom: 20px;
	}

	&__text {
		font-size: 16px;
		font-weight: 400;
		color: $light-gray;
		display: flex;
		align-items: center;
		margin-left: 40px;
	}

	&__img {
		margin-right: 56px;
		position: relative;
	}

	&__name {
		width: 145px;
		position: absolute;
		text-align: center;
		left: 50%;
		transform: translate(-50%, 10px);
		max-height: 75px;
		overflow: hidden;
	}


}



@media only screen and (max-width:$laptop){
	.overall-design {
		border-radius: a(19px);
		background-position: 110% a(43px);
		padding: a(40px);
	}

	.form-settings {
		&__user-photo {
			flex: 0 0 a(332px);
			max-width: a(332px);
			padding: a(40px);
			&__img {
				width: a(192px);
				height: a(192px);
				margin: a(30px) auto a(16px);
			}
			&__name {
				font-size: a(25px);
			}
		}

		&__user-data {
			flex: 0 0 calc(100% - 253px);
			max-width: calc(100% - 253px);
			padding: a(49px) a(40px);
			&__wrapper {
				max-width: a(370px);
				text-align: right;
			}
		}

		&__wrapper {
			max-width: a(765px);
		}
	}
	.input-file {
		margin-top: a(10px);
		margin-bottom: a(40px);
		&__title {
			font-size: a(18px);
			margin-bottom: a(20px);
		}

		&__text {
			font-size: a(16px);
			margin-left: a(40px);
		}

		&__img {
			margin-right: a(56px);
		}

		&__name {
			width: a(125px);
			transform: translate(-50%, a(10px));
			max-height: a(75px);
		}
	}
}