@import "~assets/scss/variables";

.filefield {
  position: relative;
  $p: &;

  input {
    display: none;
  }

  &__label-bg {
    display: block;
    position: absolute;
    left: 18px;
    top: -10px;
    padding: 0 8px;
    opacity: 0;
    background: $dark-blue-primary;
    color: transparent;
    font-size: 16px;
    transition: all .3s ease-in-out;
    pointer-events: none;
  }

  .error {
    color: $red;
    font-size: 12px;
  }

  &__label {
    display: block;
    position: relative;
    width: 100%;
    height: 48px;
    padding: 12px 24px;
    border: solid 1px;
    border-color: $dark-blue-fourth;
    border-radius: 12px;
    background: $dark-blue-primary;
    font-size: 16px;
    color: $white;
    transition: border-color .3s ease-in-out;
    cursor: pointer;
  }

  &__filename {
    display: block;
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    right: 0;
    top: 0;
    padding-left: 20px;
    border-radius: 0px 12px 12px 0px;
    background: url('./Сlip.svg') 24px center no-repeat,
      linear-gradient(125deg, #21212C, #171722);
    box-shadow: inset 0 5px 15px rgba($white, .15),
      0 10px 25px rgba(#0F0F17, .35);
    color: #fff;
    font-size: 16px;
  }

  &.filled {
    #{$p}__label {
      color: $light-gray;
    }

    #{$p}__label-bg {
      opacity: 1;
      color: $light-gray;
    }

    label {
      border-color: $white;
    }

    #{$p}__filename {
      color: $white;
    }
  }
}