@import "~assets/scss/variables";

.cart-item {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 146px;
  padding: 23px 20px;
  margin-bottom: 24px;
  border: solid 1px rgba($white, 0.2);
  border-radius: 19px;
  background: $dark-gray;
  box-shadow: 0px 10px 25px rgba(15, 15, 23, 0.63);

  &__image {
    width: 100px;
    height: 100px;
    flex: 0 0 100px;
    overflow: hidden;
    border-radius: 10px;

    img {
      width: 100%;
    }
  }

  &__seller {
    margin-top: -14px;
    margin-bottom: 2px;
    font-size: 12px;
    color: $light-gray;
  }

  &__nophoto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: $light-gray;

    svg {
      margin-bottom: 8px;
    }
  }

  &__info {
    flex: 1 0 35%;
    margin-left: 20px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-weight: 400;
    line-height: 20px;

    &-title {
      font-size: 20px;
      font-weight: bold;
    }

    &-stock {
      font-size: 14px;

      span {
        color: $green;
      }
    }
  }

  &__characteristics {
    ul {
      padding: 0;
      margin: 0;

      li {
        margin-bottom: 6px;
        list-style-type: none;
        font-size: 14px;
        color: $light-gray;

        &:last-child {
          margin: 0;
        }
      }
    }
  }

  &__quantity {
    flex: 0 0 20%;
    margin-left: 30px;
  }

  &__price {
    flex: 0 0 15%;

    &-one {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 7px;
    }

    &-total {
      font-size: 14px;
      color: $light-gray;
    }

    .old_price {
      position: relative;
      font-size: 18px;
      margin-left: 7px;
      margin-right: 7px;
      color: $light-gray;

      &:before {
        position: absolute;
        content: "";
        display: block;
        width: 45px;
        height: 1px;
        right: -2px;
        top: 12px;
        transform: rotate(-10deg);
        border-bottom: solid 1px $red;
      }
    }
  }

  &__remove {
    position: absolute;
    right: 20px;
    top: 8px;
    border: none;
    background: none;
    color: $light-gray;
    font-size: 40px;
  }
}

@media only screen and (max-width: $laptop) {
  .cart-item {}
}