@mixin font12($lineHeight: 1.25) {
  font-size: 12px;
  line-height: $lineHeight;
}

@mixin font14($lineHeight: 1.25) {
  font-size: 14px;
  line-height: $lineHeight;
}

@mixin font16($lineHeight: 1.25) {
  font-size: 16px;
  line-height: $lineHeight;
}

@mixin font18($lineHeight: 1.35) {
  font-size: 18px;
  line-height: $lineHeight;
}

@mixin font20($weight) {
  font-size: 20px;
  font-weight: $weight;
}