@import "~assets/scss/variables";
@import "~assets/scss/mixins/font";

.wrapper {
  position: relative;
  padding: 13px 20px;
  border-radius: 20px;
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
  cursor: pointer;

  &.active {
    background: $dark-gray;

    &:after {
      position: absolute;
      top: -1px;
      bottom: -1px;
      left: -1px;
      right: -1px;
      content: "";
      border-radius: 20px;
      background: linear-gradient($green, rgba(0, 0, 0, 0));
      z-index: -1;
    }
  }
}

.date {
  top: 13px;
  right: 20px;
  position: absolute;
  color: $light-gray;
  @include font16();
}