@import "~assets/scss/variables";

.reach-text-editor {
  $p: &;
  width: 100%;
  transition: opacity .3s ease-in-out;
  background: inherit;
  font-family: sans-serif;
  font-size: 14px;
  margin-bottom: 24px;

  &.disabled {
    opacity: 0.5;
  }

  [class*="-editor__editable"] {
    min-height: 200px;
    border-radius: 0 0 12px 12px !important;
    font-family: sans-serif !important;
    font-size: 14px;
    background-color: $dark-gray !important;
  }

  [class*="-focused"] {
    border-color: $white !important;
  }

  [class*="-toolbar_grouping"] {
    border-radius: 12px 12px 0 0 !important;
  }

}