@import "~assets/scss/variables";

.media-inventory {
	$p: &;

	&__upload {
		margin-right: 30px;
		flex: 0 0 28%;
		max-width: 390px;
		background: darken($dark-gray, 2%);
		background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='15' ry='15' stroke='%233F3F4EFF' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
		border-radius: 15px;

		input {
			visibility: hidden;
			position: absolute;
		}

		&.active {
			background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='15' ry='15' stroke='%23FFFFFFFF' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
		}
	}

	&__label {
		display: block;
		text-align: center;
		padding: 37px;

		div {
			font-size: 16px;
			font-weight: 400;
			margin: 13px 0;
		}
	}

	&__title {
		font-size: 25px;
		font-weight: 700;
		margin-bottom: 30px;
	}

	&__row {
		display: flex;
		flex-wrap: wrap;
		margin: 30px 0;
		align-items: flex-start;
	}


	&__images {
		flex: 0 0 28%;
		max-width: 415px;
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
		padding-right: 15px;
		position: relative;

		&:before {
			content: '';
			background: darken($light-gray, 20%);
			width: 1px;
			height: calc(100% - 10px);
			display: inline-block;
			position: absolute;
			top: 0;
			right: 0;
		}
	}

	&__content {
		height: 100%;
		padding-left: 30px;

		div {
			font-size: 20px;
			font-weight: 700;
			margin-bottom: 25px;
		}

		p {
			color: $light-gray;
			font-weight: 400;
			margin-bottom: 15px;
		}
	}

	&__wrap {
		display: flex;
		flex-wrap: wrap;
	}

	&__input {
		margin-right: 30px;
		flex: 0 0 28%;
		max-width: 390px;
	}

	.button-delete {
		width: 20px;
		height: 20px;
		position: absolute;
		background: none;
		top: 3px;
		right: 2px;
		z-index: 5;
		display: block;
		border: none;

		&:before,
		&:after {
			content: '';
			width: 10px;
			height: 1.5px;
			background: $white;
			display: inline-block;
			position: absolute;
			top: 8px;
			left: 4px;
		}

		&:before {
			transform: rotate(45deg);
		}

		&:after {
			transform: rotate(-45deg);
		}
	}

	&__video-item {
		width: 400px;
		position: relative;
		padding: 5px 15px;
	}


}

.formfield {
	background-color: $dark-gray;
}