@import "~assets/scss/variables";
@import "~assets/scss/mixins/font";

.createticket {
  width: 800px;
}

.bottom {
  display: flex;
  justify-content: flex-end;
}

.label {
  display: flex;
  color: $light-gray;
  margin-bottom: 20px;
  @include font16();
  cursor: pointer;

  input[type=file] {
    display: none;
  }

  svg {
    margin-right: 12px;
  }
}