@import "~assets/scss/variables";

.panel {
  $p: &;
  position: relative;
  overflow: hidden;
  min-height: 146px;
  padding: 20px;
  border: 1px solid rgba($white, 0.25);
  box-shadow: 0px 10px 25px rgba($shadow, 0.63);
  border-radius: 19px;
  background: url(leaf.svg) 100% 0px no-repeat, $dark-gray;
}
