@import "~assets/scss/variables";
@import "~assets/scss/mixins/font";

.radiofield {
  $p: &;
  margin: 30px 0;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;


  &__title {
    @include font20(700);
  }

  &__item {
    position: relative;
    margin-right: 25px;
  }

  input {
    visibility: hidden;
    position: absolute;

    &:checked {
      ~label {
        color: $white;

        &:after {
          opacity: 1;
        }
      }
    }
  }

  label {

    @include font16;

    color: $light-gray;
    padding-left: 30px;
    position: relative;
    cursor: pointer;
    user-select: none;
    transition: color .15s ease;

    &:before {
      content: '';
      width: 15px;
      height: 15px;
      border: 1px solid $green;
      border-radius: 100%;
      display: inline-block;
      position: absolute;
      top: 2px;
      left: 0;
    }

    &:after {
      content: '';
      width: 7px;
      height: 7px;
      background: $green;
      display: inline-block;
      border-radius: 100%;
      position: absolute;
      top: 6px;
      left: 4px;
      opacity: 0;
      transition: opacity .15s ease;
    }
  }

}