@import "~assets/scss/variables";

.textarea {
  position: relative;
  background: $dark-blue-primary;
  $p: &;

  textarea {
    width: 100%;
    height: 190px;
    padding: 12px 24px;
    border: solid 1px;
    border-color: $dark-blue-fourth;
    border-radius: 12px;
    background: inherit;
    font-size: 16px;
    font-family: inherit;
    color: $light-gray;
    transition: border-color 0.3s ease-in-out,
      color 0.3s ease-in-out;
    resize: none;
  }

  &__label-bg {
    display: block;
    position: absolute;
    left: 18px;
    top: -10px;
    padding: 0 8px;
    opacity: 0;
    background: inherit;
    color: transparent;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
  }

  &__fieldname {
    position: absolute;
    left: 26px;
    top: 12px;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
  }

  &.filled {
    #{$p}__fieldname {
      color: $light-gray;
      transform: translate(0px, -24px);
    }

    #{$p}__label-bg {
      opacity: 1;
    }

    textarea {
      border-color: $white;
      color: $white;
    }
  }

  textarea:disabled {
    color: rgba($white, 0.5);
    border-color: rgba($white, 0.5);
  }

}

.formfield {
  margin-bottom: 24px;
}



@media only screen and (max-width: $laptop) {}