@import "~assets/scss/variables";

.users {
  $p: &;

  &__table {
    height: auto;
    margin-bottom: 50px;
    position: relative;
    border-top: 1px solid rgba($white, 0.2);
    font-size: 16px;
    font-weight: 500;
    color: $light-gray;
    border-collapse: collapse;
    display: block;
    padding-top: 18px;
    margin-top: 35px;

  }

  &__edit-button {
    display: none;
  }

  .td,
  .th {
    &:nth-child(1) {
      flex: 0 0 22%;
    }

    &:nth-child(2) {
      flex: 0 0 18%;
    }

    &:nth-child(3) {
      flex: 0 0 10%;
    }

    &:nth-child(4) {
      flex: 0 0 8%;
    }

    &:nth-child(5) {
      flex: 0 0 8%;
    }

    &:nth-child(6) {
      flex: 0 0 8%;
    }


    &:last-child {
      flex: 0 0 10%;
    }
  }

  .tr {

    &:hover {
      #{$p}__edit-button {
        display: block;
      }

      span.edit-price {
        text-decoration: underline;
      }

      .table-media__link {
        opacity: 1;
      }

    }
  }

}