@import "~assets/scss/variables";

.table-media {
	display: flex;
	align-items: center;
	justify-content: space-between;

	&__image {
		margin: 0 8px;
		border-radius: 8px;
		overflow: hidden;
		width: 32px;
		height: 32px;
		cursor: pointer;

		img {
			width: 100%;
		}
	}

	&__link {
		margin-right: 20px;
		opacity: .2;
	}

	&__left {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
	}

}