@import "~assets/scss/variables";

.product {

  &__add-cart {
    svg {
      fill: $white;
    }
  }

  &__main {
    display: flex;
    padding-bottom: 30px;
    //	border-bottom: solid 1px rgba($white, .2);
  }

  &__left {
    width: 400px;
    margin-right: 30px;

  }

  &__slider {
    margin-bottom: 20px;
    border-radius: 20px;
    overflow: hidden;

    img {
      border-radius: 20px;
      cursor: pointer;
    }

    [class*="slick-arrow"] {
      align-items: center;
      fill: $light-gray;

      svg {
        width: 20px;
        height: 20px;
      }
    }

    [class*="slick-arrow"]:before {
      display: none;
    }

    [class*="slick-prev"] {
      left: 0;
      z-index: 1;
    }

    [class*="slick-next"] {
      right: 0;
      z-index: 1;
    }

    [class*="slick-disabled"] {
      opacity: 0.2;
    }

    &-nav {
      max-width: 360px;
      margin-left: 20px;


      [class*="slick-arrow"] {
        &:before {
          display: none;
        }
      }

      [class*="slick-arrow"] {
        fill: $light-gray;

        svg {
          width: 20px;
          height: 20px;
        }
      }

      [class*="slick-arrow"]:before {
        display: none;
      }


      [class*="slick-slide"] {
        overflow: hidden;
        padding: 0 5px;
        opacity: .5;

        img {
          border-radius: 10px;
        }

        .slick-current {
          opacity: 1;
        }
      }

      [class*="slick-current"] {
        opacity: 1;
      }

      [class*="slick-disabled"] {
        opacity: 0.2;
      }
    }
  }

  &__company-name {
    display: flex;
    align-items: center;
    margin-bottom: 27px;
    font-size: 20px;
    font-weight: bold;

    img {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      margin-right: 8px;
    }
  }

  &__company-nophoto {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 8px;
    background: $dark-blue-primary;

    svg {
      max-width: 25px;
      margin-bottom: 2px;
    }
  }

  &__name {
    font-size: 40px;
    font-weight: bold;
  }

  &__category {
    color: $light-gray;
    margin-bottom: 15px;
  }

  &__quantity {
    margin-bottom: 15px;
  }

  &__price {
    font-size: 25px;
    margin-bottom: 15px;

    .old_price {
      position: relative;
      font-size: 18px;
      margin-left: 7px;
      margin-right: 7px;
      color: $light-gray;

      &:before {
        position: absolute;
        content: '';
        display: block;
        width: 45px;
        height: 1px;
        right: -2px;
        top: 12px;
        transform: rotate(-10deg);
        border-bottom: solid 1px $red;
      }
    }
  }

  &__caracteristics {
    margin-bottom: 25px;

    ul {
      margin: 0;
      padding: 0;

      li {
        margin-bottom: 8px;
        list-style-type: none;
        color: $light-gray;
      }
    }
  }

  .button {
    margin-bottom: 25px;
  }

  &__description {
    font-size: 16px;
  }
}