@import "~assets/scss/variables";

.marketplace {

  &__header {
    display: flex;
  }

  &__title {
    display: flex;
    white-space: nowrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;

    span {
      font-size: 18px;
      font-weight: 600;
      margin-right: 45px;
    }

  }

  &__line {
    display: block;
    width: 100%;
    height: 1px;
    background: rgba($white, .2);
    position: relative;
  }


  &__filter {
    flex: 0 0 80%;
    margin-bottom: 20px;

    &-wrapper {
      margin-bottom: 15px;

      .formfield {
        margin-right: 15px;
      }

      .selectfield {
        min-width: 170px;
      }

      .reset {
        cursor: pointer;
        margin-top: 35px;
        text-decoration: underline;
        font-size: 16px;
      }
    }

    &-search {
      max-width: 370px;
      margin-bottom: 20px;
    }

    &-fields {
      display: flex;
    }

    &-found {
      font-size: 16px;
    }



  }

  &__sort {
    flex: 0 0 20%;
  }

  &__wrap {
    display: flex;
    margin-left: -12px;
    margin-right: -12px;
    flex-wrap: wrap;
    position: relative;
    padding-top: 12px;

    >* {
      margin-left: 12px;
      margin-right: 12px;
    }

    .spinner {
      width: 100%;
    }
  }


  &__top {
    margin-bottom: 40px;
  }


}


@media only screen and (max-width:$laptop) {

  .marketplace {
    &__title {
      span {
        font-size: a(24px);
        margin-right: a(45px);
      }
    }

    &__wrap {
      margin-left: a(-12px);
      margin-right: a(-12px);
      padding-top: a(12px);

      >* {
        margin-left: a(12px);
        margin-right: a(12px);
      }
    }

    &__top {
      margin-bottom: a(40px);
    }

    .switching_block {
      margin-left: a(40px);
    }

    .switching_list,
    .switching_grid {
      width: a(48px);
      height: a(48px);
      border-radius: a(12px);
    }
  }
}