@import "~assets/scss/variables";

.marketplace-row {
  $p: &;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 16px;
  border-radius: 12px;
  margin-bottom: 16px;

  a {
    color: inherit;
  }

  &:hover {
    background-color: $dark-blue-fourth;

    #{$p}__icon {
      background: linear-gradient(
          134.88deg,
          rgba(0, 0, 0, 0.73) 10.41%,
          transparent 97.32%
        ),
        $dark-gray;
    }

    a {
      color: inherit;
    }
  }

  &__images {
    height: 72px;
    display: inline-flex;
    align-items: center;
    position: relative;
    flex: 0 0 17%;
  }

  &__image {
    width: 72px;
    height: 72px;
    border-radius: 12px;
    overflow: hidden;
    margin-right: 16px;

    &:last-child {
      margin-right: 0;
    }

    img {
      width: 100%;
    }

    &.more {
      position: relative;

      img {
        position: absolute;
      }
    }

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 100%;
      height: 100%;
      color: $white;
      background: linear-gradient(
        134.88deg,
        rgba(0, 0, 0, 0.73) 10.41%,
        transparent 97.32%
      );

      svg {
        margin-left: 7px;
      }
    }
  }

  &__icon {
    background: linear-gradient(
      to left,
      transparent,
      rgba($dark-blue-primary, 0) 100%
    );
    width: 72px;
    height: 72px;
    position: absolute;
    right: 0;
    top: 0;

    span {
      color: $white;
      width: 46px;
      height: 22px;
      display: block;
      background-image: url(assets/img.svg);
      background-repeat: no-repeat;
      background-position: right center;
      position: absolute;
      top: calc(50% - 11px);
      right: -23px;
    }
  }

  &__characteristics a {
    display: flex;
    flex-direction: column;
    font-size: 14px;
  }

  &__names {
    font-size: 18px;
    font-weight: 500;
    color: $light-gray;
    flex: 0 0 15%;

    .small_text {
      font-size: 13px;
      color: $light-gray;
    }

    a {
      color: $white;
    }
  }

  &__units {
    font-size: 18px;
    font-weight: 500;
    color: $white;
    background-image: url(assets/unit.svg);
    background-repeat: no-repeat;
    background-position: 25px center;
    background-size: auto 100%;
    border-left: 1px solid rgba($white, 0.2);
    border-right: 1px solid rgba($white, 0.2);
    flex: 0 0 250px;
    text-align: center;
  }

  &__characteristics {
    color: $light-gray;
    flex: 0 0 220px;
  }

  &__price {
    font-size: 18px;
    font-weight: 600;
    color: $white;
    flex: 0 0 150px;
    text-align: right;

    span {
      color: $light-gray;
    }

    .old_price {
      display: block;
      position: relative;
      font-size: 13px;

      &:before {
        position: absolute;
        content: "";
        display: block;
        width: 40px;
        height: 1px;
        right: 0;
        top: 7px;
        transform: rotate(-10deg);
        border-bottom: solid 1px $red;
      }
    }
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    flex: 0 0 5%;
  }

  &__edit {
    display: none;
  }

  &__nophoto {
    padding: 10px;
    color: $light-gray;

    svg {
      margin-right: 32px;
    }
  }

  &__card {
    cursor: pointer;
  }

  &:hover {
    #{$p}__edit {
      display: block;
    }

    #{$p}__card path {
      fill: $green;
    }

    #{$p}__names a {
      color: $white;
    }
  }
}

@media only screen and (max-width: $laptop) {
  .marketplace-row {
    padding: a(16px);
    border-radius: a(12px);
    margin-bottom: a(16px);

    &__images {
      height: a(72px);
    }

    &__image {
      width: a(72px);
      height: a(72px);
      border-radius: a(12px);
      margin-right: a(8px);
    }

    &__icon {
      width: a(72px);
      height: a(72px);

      span {
        width: a(46px);
        height: a(22px);
        top: calc(50% - 8px);
        right: a(-23px);
      }
    }

    &__names {
      font-size: a(18px);
    }

    &__units {
      font-size: a(18px);
      background-position: a(48px) center;
      flex: 0 0 a(250px);
    }

    &__price {
      font-size: a(18px);
      flex: 0 0 a(150px);
    }
  }
}
