@import "~assets/scss/variables";


.report {
  &__period {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;

    input {
      display: none;
    }

    &-button {
      display: flex;
      width: 140px;
      height: 40px;
      align-items: center;
      justify-content: center;
      border-radius: 20px;
      font-size: 18px;
      cursor: pointer;
      user-select: none;
    }

    input:checked+&-button {
      background: $dark-blue-fourth;
    }
  }

  &__item {
    display: flex;
    margin-bottom: 35px;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    margin-right: 13px;
    border-radius: 12px;
    background: $dark-blue-fourth;

  }

  &__data-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.1;

    span {
      font-weight: 500;
      color: $light-gray;
    }
  }

  &__data-desc {
    font-size: 18px;
    color: $light-gray;
  }

}


@media only screen and (max-width:$laptop){
	.report {
		&__period {
			margin-bottom: a(35px);


			&-button {
				width: a(140px);
				height: a(40px);
				border-radius: a(20px);
				font-size: a(18px);
			}

		}

		&__item {
			margin-bottom: a(35px);
		}

		&__icon {
			width: a(48px);
			height: a(48px);
			margin-right: a(13px);
			border-radius: a(12px);

		}

		&__data-title {
			font-size: a(24px);

		}

		&__data-desc {
			font-size: a(18px);
		}

}
}