@import "~assets/scss/variables";

.right-sidebar {
  $p: &;
  background: $dark-blue-secondary;
  transition: max-width .3s ease-in-out,
    flex .3s ease-in-out;
  flex: 0 0 360px;
  max-width: 360px;

  &__wrapper {
    position: absolute;
    padding: 40px;
  }

  &__collapse-button {
    display: flex;
    align-items: center;
    margin: 16px 0 73px 108px;
    transition: all .3s ease-in-out;

    .circle-button__icon {
      transform: rotate(180deg);
    }
  }

  &__avatar-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 128px;
    height: 128px;
    margin: 0 auto 15px auto;
    border-radius: 50%;
    background: $dark-blue-secondary;
    text-align: center;
    transition: opacity .3s ease-in-out;

    &:before {
      content: "";
      position: absolute;
      top: -2px;
      bottom: -2px;
      left: -2px;
      right: -2px;
      background: linear-gradient(225deg, $green, #2F3E27);
      border-radius: 50%;
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: $dark-blue-secondary;
      border-radius: 50%;
    }

    img {
      width: 96px;
      height: 96px;
      border-radius: 50%;
      z-index: 1;
    }

    &-dummy {
      width: 96px;
      height: 96px;
      border-radius: 50%;
      background: $dark-blue-primary;
      z-index: 1;
    }
  }


  &__user {
    transition: opacity .3s ease-in-out;

    &-name {
      margin-bottom: 3px;
      font-family: $main-font;
      font-size: 24px;
      font-weight: 600;
      text-align: center;
    }

    &-id {
      margin-bottom: 28px;
      font-size: 18px;
      color: $light-gray;
      text-align: center;
    }

    &-balance {
      text-align: center;
      font-family: $main-font;
      font-size: 40px;
      font-weight: 700;
      margin-bottom: 40px;

      span {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        font-family: $main-font;
        font-size: 18px;
        font-weight: 500;
        color: $light-gray;
      }
    }

    &-usd {
      width: 30px;
      height: 20px;
      background: url("~assets/img/flags/usd.png") no-repeat;
    }
  }

  .circle-button__icon {
    transition: margin-left 0.3s ease-in-out;
  }

  &.hidden {
    max-width: 130px;
    flex: 0 0 130px;

    #{$p}__user {
      opacity: .3;
    }

    #{$p}__collapse-button {
      margin: 16px 0 73px 0;

      .circle-button__icon {
        transform: rotate(0deg);
      }
    }



  }

}

@media only screen and (max-width:$laptop) {
  .right-sidebar {
    $p: &;
    flex: 0 0 a(360px);
    max-width: a(360px);

    &__wrapper {
      padding: a(40px);
    }

    &__collapse-button {
      margin: a(16px) 0 a(73px) a(108px);
    }

    &__avatar-circle {
      transform: scale($scale);
      margin-bottom: 0;
    }

    &__user {

      &-name {
        margin-bottom: a(3px);
        font-size: a(24px);
      }

      &-id {
        margin-bottom: a(28px);
        font-size: a(18px);
      }

      &-balance {
        font-size: a(40px);
        margin-bottom: a(40px);

        span {
          font-size: a(18px);
        }
      }
    }

    &.hidden {
      max-width: a(130px);
      flex: 0 0 a(130px);

      #{$p}__collapse-button {
        margin: a(16px) 0 a(73px) 0;

      }

    }

  }
}