@import "~assets/scss/variables";

.signin {
  background: url("~assets/img/list3.png") 230px top no-repeat,
    url("~assets/img/list4.png") left calc(100% + 100px) no-repeat,
    url("./img/list5.png") right calc(100% + 20px) no-repeat,
    url("~assets/img/list.png") calc(100% - 180px) 144px no-repeat,
    url("~assets/img/arrow.png") calc(100% - 74px) 112px no-repeat,
    url("./img/signinimg.png") calc(50% + 315px) 245px no-repeat;

  &__button-group {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  &__social-signin {
    margin-top: 35px;
    color: $light-gray;

    &:before {
      content: "";
      position: relative;
      display: block;
      width: calc(100% - 110px);
      margin-left: auto;
      border-top: solid 1px rgba($white, 0.2);
      top: 13px;
    }

    span {
      display: block;
      margin-bottom: 38px;
      margin-right: 8px;
      background: $dark-blue-primary;
    }
  }

  &__forgot-link {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    a {
      color: $light-gray;
      &:hover {
        color: $green;
      }
    }


  }

}

.main {
  min-height: calc(100vh - 144px);
  padding-top: 171px;
}

.container {
  margin-left: 300px;
  max-width: calc(50% - 300px);
}

.form-block {
  width: 360px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}