@import "~assets/scss/variables";

.setting-title {
  font-size: 25px;
  font-weight: 700;
  padding-right: 32px;
  background-image: url(title.svg);
  background-repeat: no-repeat;
  background-position: right center;
	background-size: auto 70%;
  display: inline-block;
  margin-bottom: 30px;
}

@media only screen and (max-width:$laptop){
	.setting-title {
		font-size: a(25px);
		padding-right: a(32px);
		margin-bottom: a(30px);
	}
}