@import "~assets/scss/variables";

.inventory {
  $p: &;

  &__filter {
    margin-bottom: 20px;
    flex: 0 0 50%;

    &-wrapper {
      margin-bottom: 15px;

      .filter-item {
        margin-right: 15px;
      }

      .reset {
        cursor: pointer;
        margin-top: 35px;
        text-decoration: underline;
        font-size: 16px;
      }
    }

    &-search {
      max-width: 370px;
      margin-bottom: 20px;
    }

    &-fields {
      display: flex;
    }

    &-found {
      font-size: 14px;
    }
  }

  &__bulk-update {
    flex: 0 0 50%;
    display: flex;
    flex-wrap: wrap;
    height: 48px;

    .formfield {
      margin-right: 15px;
    }

    .selectfield {
      min-width: 120px;
    }
  }
}