@import "~assets/scss/variables";

.inventory-one {
  $p: &;


  .circle-button {
    margin-top: 24px;
  }

  &__upload-image {

    width: 600px;
    position: relative;

    form {
      height: 300px;
      margin-bottom: 15px;
      border: 2px dashed $dark-blue-third;
      border-radius: 12px;
      position: relative;
      cursor: pointer;
      flex: 1 0;
    }

    input[type=file] {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      z-index: 2;
      cursor: pointer;
    }
  }

  &__upload-text {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  &__upload-images {
    display: flex;

    div {
      width: 90px;
      height: 90px;
      margin: 5px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position-x: center;
    }
  }

  &__preview {
    max-width: 610px;
    display: flex;
    flex-wrap: wrap;

    div {
      width: 140px;
      margin: 5px;
      position: relative;

      .close {
        position: absolute;
        right: 0;
        top: 0;
        background: rgba(0, 0, 0, .8);
        border: none;
        color: $white;
      }
    }

    img {
      width: 100%;
    }
  }

  .block_top {
    padding: 38px 0 30px;

    .checkbox label {
      color: $white;
    }
  }

  &__wrapper {
    max-width: 600px
  }

  .overall-design {
    padding: 60px 50px;
  }

  &__media.overall-design {
    padding: 50px;
  }
}