@import "~assets/scss/variables";

.header {
  display: flex;
  justify-content: space-between;
  height: 144px;
  padding: 48px 40px 32px 63px;
  border-bottom: solid 1px rgba($white, .2);

  &__nav {
    margin-top: 18px;
    color: $dark-blue-fifth;
  }
}