@import "~assets/scss/variables";

.inventory-item {
  &:hover {
    .edit-button {
      display: block;
    }
    .media-link {
      opacity: 1;
    }
  }
}

.small-text {
  font-size: 12px;
  color: $light-gray;
}

.published-button {
  border: none;
  background: none;
  margin-right: 10px;
}

.edit-button {
  display: none;
}

.hidden {
  opacity: .4;
}