@import "~assets/scss/style";
@import "~assets/scss/variables";

body {
  margin: 0;
  line-height: 1.25;
  color: $white;
  font-family: $main-font;
  font-size: 18px;
  font-weight: 500;
  background-color: $dark-blue-primary;
  overflow-x: hidden;

  @media screen and (max-width: $laptop) {
    font-size: a(18px);
  }
}

.h1,
h1 {
  font-size: 40px;
  font-family: $main-font;
  font-weight: 700;
  @media only screen and (max-width: $laptop) {
    font-size: a(40px);
  }

  @include mobile {
    font-weight: bold;
    font-size: 36px;
    line-height: 135%;
  }
}

a {
  color: $green;
  text-decoration: none;
}

input,
select,
textarea {
  outline: none !important;

  &:focus {
    outline: none !important;
  }
}
