@import "~assets/scss/variables";

.dashboars {
  $p: &;
}


.actions {
  min-height: 400px;
  background: url(~assets/img/list.png) 95px 18px no-repeat,
    url(~assets/img/list2.png) 95px calc(100% + 40px) no-repeat;
  padding-bottom: 60px;

  &__title {
    font-size: 24px;
    font-weight: 600;
    margin-right: 40px;
  }

  &__title-block {
    margin-bottom: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &::after {
      content: '';
      display: block;
      height: 1px;
      background: rgba($white, .2);
      flex: 1 0 0
    }
  }

  &__link-inventory {
    flex: 1 0 0;
    max-width: 240px;
    margin-right: 5%;

    .circle-button {
      margin-top: 25px;
    }
  }

  &__content-block {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__card {
    width: 266px;
    height: 366px;
    padding: 32px;
    margin-left: 32px;
    position: relative;
    border-radius: 21px;
    box-shadow: inset -5px 5px 25px rgba($white, .05);
    background: linear-gradient(315deg, #292935, $dark-blue-primary);

    &:after {
      content: '';
      display: block;
      width: 234px;
      height: 16px;
      background: rgba(#21212C, .6);
      position: absolute;
      bottom: -16px;
      left: 16px;
      border-radius: 0 0 21px 21px;
    }

    &-title {
      font-size: 24px;
      font-weight: 600;
      max-width: 180px;
      margin-bottom: 15px;
    }

    &-description {
      font-weight: 400;
      color: $light-gray;
      margin-bottom: 38px;
    }

    .button {
      width: 100%;
      height: 48px;
      border: none;
      color: $white;
      border-radius: 12px;
      background: none;
      box-shadow: inset 0 5px 15px rgba($white, .15),
        0 10px 25px rgba($shadow, .35);
      font-size: 16px;

      &.green {
        background: $green-gradient;
        box-shadow: inset 0 5px 15px rgba($white, .50),
          0 10px 25px rgba($shadow, .35);
      }
    }
  }
}

@media only screen and (max-width:$laptop) {
  .actions {
    min-height: a(400px);
    padding-bottom: a(60px);

    &__title {
      font-size: a(24px);
      margin-right: a(40px);
    }

    &__title-block {
      margin-bottom: a(45px);
    }

    &__card {
      width: a(266px);
      height: a(366px);
      padding: a(32px);
      margin-left: a(32px);
      border-radius: a(21px);

      &:after {
        width: a(234px);
        height: a(16px);
        bottom: a(-16px);
        left: a(16px);
        border-radius: 0 0 a(21px) a(21px);
      }

      &-title {
        font-size: a(24px);
        max-width: a(180px);
        margin-bottom: a(15px);
      }

      &-description {
        margin-bottom: a(38px);
      }

      .button {
        height: a(48px);
        border-radius: a(12px);
        font-size: a(16px);
      }
    }

  }
}