@import "~assets/scss/variables";

.change-plan {
  max-width: 450px;
  &__title {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
  }

  &__subtitle {
    font-size: 18px;
    margin-bottom: 10px;
  }

  &__description {
    font-size: 13px;
    margin-bottom: 15px;
    color: $light-gray;
  }

  &__bottom {
    display: flex;

    button:first-child {
      margin-right: 10px;
    }
  }

  &__link {
    button {
      height: 70px;
      margin-bottom: 24px;

      svg {
        margin-bottom: 5px;
      }
    }
  }

}