@import "~assets/scss/variables";

.formfield {
  margin-bottom: 24px;
}

.selectfield {
  position: relative;
  width: 100%;
  background: $dark-blue-primary;
  $p: &;

  [class$="-menu"] {
    margin-top: 0;
    border-radius: 0 0 10px 10px;
    background: $dark-gray;
  }

  [class*="-option"] {
    font-size: 16px;
    cursor: pointer;

    &:hover {
      background: $dark-blue-fourth;
    }
  }

  [class$="-control"] {
    width: 100%;
    min-height: 48px;
    border: solid 1px;
    border-color: $dark-blue-fourth;
    border-radius: 12px;
    background: inherit;
    font-size: 16px;
    color: $white;
    transition: border-color 0.3s ease-in-out;
    appearance: none;
    cursor: pointer;
    box-shadow: none;

    &:hover,
    &:focus,
    &:active {
      box-shadow: $white;
      border-color: $white;
    }
  }

  &__label-bg {
    display: block;
    position: absolute;
    left: 18px;
    top: -10px;
    padding: 0 8px;
    opacity: 0;
    background: inherit;
    color: transparent;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
  }

  &__fieldname {
    position: absolute;
    left: 26px;
    top: 12px;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    right: 8px;
    top: 20px;
    width: 16px;
    height: 8px;
    transition: transform 0.3s ease-in-out;
    pointer-events: none;
    background-size: 90%;
  }

  .react-select {
    &__input {
      color: $white;
    }

    &__control {
      &--menu-is-open {
        border-radius: 10px 10px 0 0;
      }

      &--is-focused {
        border-color: $dark-blue-fourth;
        box-shadow: none;
      }
    }

    &__multi-value {
      background: inherit;
      border: solid 1px rgba($white, 0.2);
      border-radius: 4px;

      &__label {
        color: $white;
      }

      &__remove:hover {
        background-color: $light-gray;
        color: $dark-blue-primary;
      }
    }

    &__value-container {
      padding: 8px 8px 2px 8px;
    }

    &__single-value {
      color: $white;
    }

    &__menu {
      margin-top: 0;
      border-radius: 0 0 10px 10px;
      background: $dark-gray;
    }

    &__option {
      min-height: 28px;
      font-size: 16px;
    }
  }

  &.filled {
    #{$p}__fieldname {
      color: $light-gray;
      transform: translate(0px, -24px);
    }

    #{$p}__label-bg {
      opacity: 1;
    }

    [class$="-control"] {
      border-color: $white;
    }
  }
}

@media only screen and (max-width: $laptop) {
  .selectfield {
    $p: &;

    select {
      height: a(48px);
      padding: a(12px) a(30px) a(12px) a(24px);
      border-radius: a(12px);
      font-size: a(16px);
    }

    &__label-bg {
      left: a(18px);
      top: a(-10px);
      padding: 0 a(8px);
      font-size: a(16px);
    }

    &__fieldname {
      left: a(26px);
      top: a(12px);
      font-size: a(16px);
    }

    &:after {
      right: a(8px);
      top: a(20px);
      width: a(16px);
      height: a(8px);
    }

    &.filled {
      [class$="-control"] {
        box-shadow: $white;
        border-color: $white;
      }

      #{$p}__fieldname {
        transform: translate(0px, a(-24px));
      }
    }
  }
}

.error {
  color: $red;
  font-size: 12px;
}