.header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 45px 0 45px 40px;
  display: flex;
  justify-content: space-between;
}

.icons {
  display: flex;
  gap: 25px;
  align-items: center;
}
