@import "~assets/scss/variables";
@import "~assets/scss/mixins/font";

.file {
  display: flex;
  margin-bottom: 10px;

  .icon {
    margin-right: 12px;
    padding-top: 3px;
  }

  .text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include font14();
    color: $light-gray;

    .size {
      @include font12();
    }
  }

  button {
    width: 8px;
    height: 8px;
    margin-left: 15px;
    border: none;
    background: url(~assets/img/icons/Close.svg) no-repeat;
    background-size: contain;
  }
}