@import "~assets/scss/variables";

.selectfieldsmall {
  position: relative;
  min-width: 150px;
  background: inherit;
  font-size: 16px;
  $p: &;

  label {
    font-size: 16px;
    margin-bottom: 10px;
  }

  &__container {
    background: $dark-blue-primary;
  }

  [class$="-menu"] {
    padding: 10px;
    margin-top: 0;
    border-radius: 0 0 10px 10px;
    background: $dark-gray;
  }

  [class$="-option"] {
    min-height: 28px;
    border-radius: 10px;
    padding: 4px 6px 4px 6px;
  }

  [class$="-option"]:hover {
    background: $dark-blue-fourth;
    cursor: pointer;
  }

  [class$="-option--is-selected"] {
    background: rgba($unactive-input, .5);
  }

  [class$="-option--is-focused"] {
    background: $dark-blue-fourth;
  }

  [class$="-control"] {
    min-height: 32px;
    background: $dark-gray;
    border: solid 1px $dark-blue-fourth;
    border-radius: 10px;
  }

  .react-select {

    &__input {
      color: $white;
    }

    &__control {
      min-height: 32px;
      background: $dark-gray;
      border: solid 1px $dark-blue-fourth;
      border-radius: 10px;

      &:hover {
        border-color: $dark-blue-fourth;
      }

      &--menu-is-open {
        border-radius: 10px 10px 0 0;
      }

      &--is-focused {
        border-color: $dark-blue-fourth;
        box-shadow: none;
      }

    }

    &__single-value {
      color: $white;
    }

    &__menu {
      padding: 10px;
      margin-top: 0;
      border-radius: 0 0 10px 10px;
      background: $dark-gray;
    }

    &__option {

      min-height: 28px;
      border-radius: 10px;
      padding: 4px 6px 4px 6px;

      &--is-selected {
        background: rgba($unactive-input, .5);
      }

      &--is-focused {
        background: $unactive-input;
      }
    }
  }

  &.filled {
    .react-select__control {
      border-color: $white;
    }
  }
}


@media only screen and (max-width:$laptop) {
  .selectfieldsmall {}
}