@import "../../assets/scss/variables";

.breadcrumbs {
  $p: &;

  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  li {
    margin-right: 10px;
  }

  &__link {
    font-size: 16px;
    color: $light-gray;
    font-weight: 400;
    transition: color .25s ease;

    &:not([href]) {
      color: $white;

      &:hover {
        color: $white;
      }
    }

    &:hover {
      color: $green;
    }
  }
}

@media only screen and (max-width:$laptop) {
  .breadcrumbs {
    li {
      margin-right: a(10px);
    }

    &__link {
      font-size: a(16px);

      &:not([href]) {
        color: $white;

        &:hover {
          color: $white;
        }
      }

      &:hover {
        color: $green;
      }
    }
  }
}