.wrapper {
  display: flex;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding: 48px 0 0 25px;
  gap: 26px;
}

.label {
  input[type=file] {
    display: none;
  }

  cursor: pointer;
}

.input {
  flex: 1;
  margin-bottom: 0;

  input {
    height: 48px;
    border: 0;
  }
}

.send {
  width: 50px;
}