@import "~assets/scss/variables";

.sidebar {
  $p: &;
  width: $sidebar-width;
  z-index: 2;

  &-content {
    height: 100vh;
    width: 280px;
    position: sticky;
    top: 0;
    left: 0;
    background: $dark-blue-primary;
    border-right: solid 1px rgba($white, 0.2);
  }

  &-brand {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 45px 0;
  }

  &-nav {
    margin-top: 30px;
    padding: 0;
  }

  &-item {
    list-style-type: none;
    margin-bottom: 40px;
    position: relative;
  }

  &-link {
    display: flex;
    padding: 5px 5px 5px 45px;
    color: $light-gray;
    text-decoration: none;
    font-size: 16px;

    svg {
      fill: $light-gray;
      margin-right: 18px;
    }
  }

  &-badge {
    display: inline-block;
    padding: 5px 8px;
    font-size: 14px;
    font-weight: 700;
    color: $white;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 4px;

    &-red {
      background-color: $red;
    }

    &-green {
      background-color: $green;
    }
  }

  &-item.active {
    #{$p}-link {
      color: $white;
    }

    svg {
      fill: $green;
    }

    &:before {
      content: "";
      display: block;
      position: absolute;
      width: 4px;
      height: 100%;
      left: 0;
      top: 0;
      background: $green;
      border-radius: 0 4px 4px 0;
      box-shadow: 0 0 24px $green;
    }
  }

  &-item:hover {
    #{$p}-link {
      color: $white;
    }
  }

  &-bottom {
    margin-top: 100px;

    @media (max-width: $laptop) {
      margin-top: 40px;
    }

    &-item {
      display: block;
      padding: 5px 5px 5px 45px;
      color: $light-gray;
      font-size: 16px;
    }

    .search {
      margin: 0 17px;
      background: transparent;
    }
  }
}

@media only screen and (max-width: $laptop) {
  .sidebar {
    width: 0;

    .sidebar-content {
      width: 0;
      background: $dark-gray;
      overflow: hidden;
      box-shadow: 0px 10px 25px rgba(15, 15, 23, 0.63);

      &.opened {
        width: a($sidebar-width);
      }
    }

    &-brand {
      img {
        margin: a(45px) 0;
        width: a(154px);
      }
    }

    &-nav {
      margin-top: a(30px);
    }

    &-item {
      margin-bottom: a(40px);
    }

    &-link {
      padding: a(5px) a(5px) a(5px) a(45px);
      font-size: a(16px);
      align-items: center;

      svg {
        margin-right: a(18px);
      }
    }
  }
}

.button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background: $dark-blue-fourth;
  box-shadow: 0px 10px 30px rgba(15, 15, 23, 0.13);
  cursor: pointer;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  user-select: none;
  z-index: 2;
}
