@import "~assets/scss/variables";


.plan {
	width: 350px;
	margin-right: 30px;

	&.current {
		border: solid 2px $green;
	}

	&__current {
		position: absolute;
		top: 8px;
		right: 15px;
		color: $green;
	}

	&__text {
		margin-bottom: 10px;
	}

	&:last-child {
		margin-right: 0;
	}

	&__title {
		font-size: 30px;
		margin-bottom: 10px;
	}

	&__price {
		font-size: 22px;
		margin-bottom: 10px;

		&-period {
			font-size: 14px;
		}

		&-old_price {
			position: relative;
			color: $light-gray;
			margin-right: 7px;
			font-size: 18px;

			&:before {
				position: absolute;
				content: '';
				display: block;
				width: 40px;
				height: 1px;
				right: -4px;
				top: 13px;
				transform: rotate(-10deg);
				border-bottom: solid 1px $red;
			}
		}

		&-new_price {}
	}

	&__billed {
		margin-bottom: 20px;
	}

	&__features {
		padding: 0;
		margin-bottom: 30px;

		li {
			margin-bottom: 15px;
			padding-left: 25px;
			background: url(сheckMark.svg) no-repeat 0px 3px;
			background-size: 16px;
			font-size: 16px;
			color: $light-gray;
			list-style-type: none;
		}
	}
}