@import "~assets/scss/variables";

.circle-button {
  $p: &;
  display: flex;
  align-items: center;
  border: none;
  background: none;
  padding: 0;
  color: $white;

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    margin-right: 15px;
    border-radius: 50%;
    border: solid 1px $dark-blue-third;
  }

  svg {
    fill: $white;
  }

  &:disabled {
    opacity: 0.5;
  }

  &.green {
    #{$p}__icon {
      background: $green-gradient;
      box-shadow: $black-shadow;
    }
  }
}

@media only screen and (max-width: $laptop) {
  .circle-button {
    width: a(48px);
    height: a(48px);

    svg {
      transform: scale($scale);
    }
  }
}
