@import "~assets/scss/variables";

.nav {
  &-title {
    display: block;
    height: 42px;
    max-width: 95px;
    text-align: right;
    margin: 0 76px 77px auto;
    color: $light-gray;
  }

  &-icon {
    stroke: $light-gray;
    position: absolute;
    top: calc(50% - 9px);
    right: 38px;
  }

  &-checked {
    stroke: $light-gray;
    position: absolute;
    top: calc(50% - 23px);
    right: 33px;
  }

  &-item {
    list-style-type: none;
    text-align: right;
    position: relative;
    cursor: pointer;

    &:after {
      content: "";
      display: block;
      width: 8px;
      height: 8px;
      position: absolute;
      background: $light-gray;
      border-radius: 50%;
      right: -4px;
      top: calc(50% - 4px);
    }

    &.active {
      .nav-title {
        color: $white;
      }

      .nav-icon {
        stroke: $green;
      }

      &:after {
        background: $green;
        box-shadow: 0 0 24px $green;
      }
    }
  }
}